<!DOCTYPE html>
<html>
    <head>
    <title>
    About
    </title>
        <link rel ="icon", href="/img/weather.png">
        <link rel="stylesheet" href = "/css/style.css">
    </head>
    <body>
        <div class="main-content">
            <p> {{>header}} </p>
       <img class = "port" src = "/img/robot.png">
       <p>Created by : Aditya with the help of some API</p>
       </div>
    <p>{{>footer}}</p>
    </body>
</html>